<div class="container">
    <div class="col-md-5 item" style="float: left;">
      <img src="http://localhost:5000/img/Questao2.PNG">
    </div>
    <div class="col-md-5 item" style="float: right">
      <p>O retorno será a lista printada ordenada pois o segundo valor se referece a quantos milisegundos
        o setTimeOut deve esperar para executar a função, quanto maior o numero mais tempo demorará para
        ele ser apresentado, logo os menores números serão impressos primeiros, logo, de forma ordenada.
      </p>
      <p>Exemplo completo no console</p>
    </div>
</div>
